.logo {
  animation: logoAnimation 3.5s infinite;
}

@keyframes logoAnimation {
  20% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: rotate(810deg);
  }
  85% {
    transform: rotate(810deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate(720deg);
  }
}
