@use "variables.scss" as var;

.content {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var.$theme;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: inside;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 1rem;
    }
  }
  a {
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
